<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<context id="context1">

		<commentGenerator>
			<property name="suppressDate" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/amedeo" 
			userId="root"
			password="" />
		<javaModelGenerator targetPackage="it.vidoc.mybatis.javamodel"
			targetProject="Vidoc" />
		<sqlMapGenerator targetPackage="it.vidoc.mybatis.sqlmapper"
			targetProject="Vidoc" />
		<javaClientGenerator targetPackage="it.vidoc.mybatis.javaclient"
			targetProject="Vidoc" type="XMLMAPPER" />

		<table schema="amedeo" tableName="anagrafiche">
			<!-- <columnOverride column="???" property="???" /> -->
		</table>
		<table schema="amedeo" tableName="effetti" />
		<table schema="amedeo" tableName="infanagrafiche" />
		<table schema="amedeo" tableName="infeffetti" />
		<table schema="amedeo" tableName="parole" />
		<table schema="amedeo" tableName="strnomi03" />
		<table schema="amedeo" tableName="strnomi04" />
		<table schema="amedeo" tableName="strnomi05" />
		<table schema="amedeo" tableName="strnomi06" />
		<table schema="amedeo" tableName="strnomi07" />
		<table schema="amedeo" tableName="strnomi08" />
		<table schema="amedeo" tableName="strnomi10" />
		<table schema="amedeo" tableName="strnomi15" />
		<table schema="amedeo" tableName="strnomi20" />
		<table schema="amedeo" tableName="strindir03" />
		<table schema="amedeo" tableName="strindir06" />
		<table schema="amedeo" tableName="strindir10" />
		<table schema="amedeo" tableName="strindir15" />
		<table schema="amedeo" tableName="strindir20" />
		<table schema="amedeo" tableName="strcodprvres" />
		<table schema="amedeo" tableName="strcodcomres" />
		<table schema="amedeo" tableName="strcodiceregione" />
		<table schema="amedeo" tableName="strcodfisc" />
		<table schema="amedeo" tableName="strdatnas" />
		<table schema="amedeo" tableName="strcodcomnas" />
		<table schema="amedeo" tableName="logelab" />
		<table schema="amedeo" tableName="infcomuni" />
		<table schema="amedeo" tableName="user" />
		<table schema="amedeo" tableName="userrole" />
		<table schema="amedeo" tableName="listino" />
		<table schema="amedeo" tableName="account" />
		<table schema="amedeo" tableName="elencodocumenti" />		
		<table schema="amedeo" tableName="amedeodateagg" />		
		<table schema="amedeo" tableName="elencolistini" />
		<table schema="amedeo" tableName="matrixabilitazioni" />				

	</context>
</generatorConfiguration>